{% extends 'homepage.html' %}

{% block titulo %}
Criar Conta
{% endblock %}

{% block body %}
<a href="{{ url_for('homepage') }}">Login</a>

<form method="POST">
    {{ form.csrf_token }}

    {{ form.email.label }}
    {{ form.email() }}

    {{ form.nome.label }}
    {{ form.nome() }}

    {{ form.senha.label }}
    {{ form.senha() }}

    {{ form.confirmar_senha.label }}
    {{ form.confirmar_senha() }}

    {{ form.cargo.label }}
    {{ form.cargo() }}

    {{ form.botao_confirmacao() }}
</form>
{% endblock %}