{% extends 'homepage.html' %}

{% block titulo %}
Perfil de {{ usuario.nome }}
{% endblock %}

{% block body %}
<h1>Bem-vindo ao seu perfil, {{ usuario.nome }} !</h1>

<hr>

<h3>Suas Informações:</h3>
<p><strong>Nome:</strong> {{ current_user.nome }}</p>
<p><strong>E-mail:</strong> {{ current_user.email }}</p>

<p><strong>Cargo:</strong> {{ current_user.cargo.capitalize() }}</p>
{% if current_user.cargo == 'gerente' %}
    <a href="{{ url_for('criar_tarefa') }}">
        Criar Tarefa
    </a>
{% endif %}
<hr>

<a href="{{ url_for('logout') }}">Sair / Voltar</a>
{% endblock %}