{% extends 'homepage.html' %}

{% block titulo %}
Perfil de {{ usuario.nome }}
{% endblock %}

{% block body %}
<h1>Perfil de {{ usuario.nome }}</h1>

<hr>

<h3>Informações do Usuário:</h3>
<p><strong>Nome:</strong> {{ usuario.nome }}</p>
<p><strong>E-mail:</strong> {{ usuario.email }}</p>
<p><strong>Cargo:</strong> {{ usuario.cargo.capitalize() }}</p>

{% if current_user.cargo.lower() == 'gerente' and current_user.id == usuario.id %}
    <br>
    <a href="{{ url_for('criar_tarefa') }}">
        Criar Tarefa
    </a>
{% endif %}
<hr>

<a href="{{ url_for('logout') }}">Sair / Voltar</a>
{% endblock %}